*.csproj
*.sln
*.vs
**/*.a
**/*.d
**/*.DS_Store
**/*.idb
**/*.inc
**/*.la
**/*.lib
**/*.lo
**/*.o
**/*.obj
**/*.pdb
**/*.S
**/*.pc
**/curl-config
**/pkgconfig
**/prebuilt/**/share
build/**/build
Library
Logs
obj
Temp