*.csproj
*.sln
*.vs
**/.*
**/*.a
**/*.d
**/*.DS_Store
**/*.idb
**/*.inc
**/*.la
**/*.lib
**/*.lo
**/*.o
**/*.obj
**/*.pc
**/*.pdb
**/*.S
**/curl-config
**/Makefile
**/pkgconfig
**/prebuilt/**/share
**/prebuilt/**/cmake
build/**/build
UserSettings
Library
Logs
obj
Temp
out
